# Python
*.egg-info/
__pycache__/
*.pyc
.eggs/
venv/

# Env
.env

# Mac
.DS_Store

# Node
node_modules/

# Build
dist/
build/

# pip editable install
pip-wheel-metadata/

#reports 
retrival_report.txt
rag_report.txt

#config
config.json